.kards
{
    width : 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.koukou
{
    width : 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}